<table class="table table-hover mt-3" id="{{ table_id }}">
    <thead>
        <tr>
            <th scope="col">PID</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Size</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr data-price="999" data-brand="HNJ" data-color="Black" data-size="Medium" data-in-stock="true">
            <th scope="row">0001</th>
            <td>HNJ</td>
            <td>Ewan</td>
            <td>Medium</td>
            <td>Black</td>
            <td>999</td>
            <td>10</td>
        </tr>
        <tr data-price="999" data-brand="EVO" data-color="Red" data-size="X Large" data-in-stock="true">
            <th scope="row">0002</th>
            <td>EVO</td>
            <td>GT PRO</td>
            <td>X Large</td>
            <td>Red</td> 
            <td>999</td>
            <td>10</td>
        </tr>
        <tr data-price="3500" data-brand="SPYDER" data-color="Black-Red" data-size="Large" data-in-stock="false">
            <th scope="row">0003</th>
            <td>SPYDER</td>
            <td>Ewan</td>
            <td>Large</td>
            <td>Black-Red</td>
            <td>3500</td>
            <td>10</td>
        </tr>
    </tbody>
</table>